<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile"
            fileName="logs/service-portal-backend.log" filePattern="logs/service-portal-backend-%d{yyyy-MM-dd}-%i.log">
          <PatternLayout>
             <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
          </PatternLayout>
          <Policies>
             <TimeBasedTriggeringPolicy/>         
             <SizeBasedTriggeringPolicy size="50 MB"/>
           </Policies>
           <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
	<Loggers>
		<Root level="debug">
            <AppenderRef ref="RollingFile" />
        </Root>
        <logger name="org.apache.zookeeper" level="WARN" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </logger>
	</Loggers>
</Configuration>